

// sun
@-webkit-keyframes shake {

    0%,
    100% {
      -webkit-transform: rotate(-10deg);
    }

    50% {
      -webkit-transform: rotate(10deg);
    }
  }

  @-moz-keyframes shake {

    0%,
    100% {
      -moz-transform: rotate(-10deg);
    }

    50% {
      -moz-transform: rotate(10deg);
    }
  }

  @keyframes bounce {
    20% {
      transform: translateY(-6px);
    }

    40% {
      transform: translateY(0px);
    }

    80% {
      transform: translateY(-2px);
    }

    100% {
      transform: translateY(0);
    }
  }

  // Loader

.loader {
    position: fixed;
    z-index: 1;
    background: rgba(6, 45, 32, 0.4);
    height: 100%;
    width: 100%;
}

