@import './custom';
@import './variables';

html, body {
  height: 100%;
};

body {
  display: flex;
  flex-direction: column;
  background: rgb(22,56,24);
  background: radial-gradient(circle, rgba(22,56,24,1) 0%, rgba(25,27,61,1) 100%);
  text-align: center;
};

.header {
  height: 80px;
  background-color: transparent;
};

.main {
  height: calc(100% - 80px);

  .logo{
    width: 500px;
    position:static;
    margin-bottom: 3%;
    margin-top: -1%;
    cursor: pointer;

  };
};

/* BOTONES */

.container-btns{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

    .btn-characters{
      background-color: transparent;
      border: none;
      outline: none;
      background-size: 100%;
      cursor: pointer;
      color: $white;
      height: 110px;
      width: 110px;
     /*  position: relative; */
    };

    .rick-head{
      background-image: url('/assets/icon-rick.png');
      background-color: white;
      border-radius: 20%;

    };

    .morty-head{
      background-image: url('/assets/icon-morty.png');
      background-color: white;
      border-radius: 20%;

    };

    .head{
      background-image: url('/assets/big-head.png');
      background-size: 70%;
      background-repeat: no-repeat;
      background-color: transparent;
      opacity: 90%;
      height: 200px;
      width: 200px;
    };
};
/* LISTA */

.list-name{
  display: flex;
  flex-direction: column;
  font-family: 'Genos', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: rgb(21, 197, 206);
};

.list-page{
  color: white;
  font-family: 'Genos', sans-serif;
  font-weight: bold;
  border-radius: 10%;
  border-width: 0;
  margin-bottom: 30px;
};

/* LOADER styles begin */
/* .loader{
  width: 100vh;
  height: 100vh;
}
@keyframes sun-loader {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
} */

/* LOADER styles end */

.flex-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 5fr));
  margin: 15px;

};

.item {
  list-style: none;
  padding: 40px;
 /*  background-image: url('../assets/loading.gif'); */
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: 'Genos', sans-serif;
  font-size: large;
};

.item-details{
  list-style: none;
  padding: 50px;
  background-image: url('../assets/loading.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 480px;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-bottom: 5%;
};


/* a revisar */

.item-title {
  text-transform: capitalize;
  margin-bottom: 0px;
  font-size: 26px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 60;
};

.item-title2{
  text-transform: capitalize;
  margin-bottom: 0px;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
};

.item-subtitle {
  margin-top: 5px;
  font-weight:bold;
  font-family: 'Genos', sans-serif;
  font-size: large;
};

.item-image {
  height: 160px;
  border-radius: 100% ;
};

/* FINDER */
.container-finder {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
};

.find {
  margin: 10px;
  border-radius: 10px;
  font-family: 'Genos', sans-serif;
};

.font-finder{
  font-family: 'Genos', sans-serif;
  font-size: large;
};

.btn-finder {
 /*  min-width: 10%; */
  background-image: url(../assets/gun-bits.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  color: $white;
  height: 100px;
  width: 100px;
/*   position: relative; */
  margin-top: 2%;

};

.footer{
  height: 20%;
};

/* .sun-loader{
  background-image: url(../assets/sun.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  width: 220px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-content: center;
  position: fixed;
  top: 0;
  left:0;
  z-index: 100;

} */